<nav class="teal accent-4">
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo"> Studio App</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger" [hidden]="!estaLogado()"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down" [hidden]="!estaLogado()">
        <li routerLinkActive="active"><a routerLink="/clientes">Clientes</a></li>
        <li routerLinkActive="active"><a routerLink="/agendamentos">Agendamentos</a></li>
        <li routerLinkActive="active"><a routerLink="/servicos">Servicos</a></li>
        <li routerLinkActive="active"><a routerLink="/profissional" (click)="fechar()" >Profissionais</a></li>
        <li routerLinkActive="active"><a routerLink="/formadepagamento" (click)="fechar()" >Formas de Pagamento</a></li>
        <li routerLinkActive="active"><a routerLink="/logout">Sair</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo" [hidden]="!estaLogado()">
    <li routerLinkActive="active"><a routerLink="/clientes" (click)="fechar()" >Clientes</a></li>
    <li routerLinkActive="active"><a routerLink="/agendamentos" (click)="fechar()" >Agendamentos</a></li>
    <li routerLinkActive="active"><a routerLink="/servicos" (click)="fechar()" >Servicos</a></li>
    <li routerLinkActive="active"><a routerLink="/profissional" (click)="fechar()" >Profissionais</a></li>
    <li routerLinkActive="active"><a routerLink="/formadepagamento" (click)="fechar()" >Formas de Pagamento</a></li>
    <li routerLinkActive="active"><a routerLink="/logout" (click)="fechar()" >Sair</a></li>
</ul>
