<h4>Serviços</h4>

<ul class="collapsible popout">
  <li>
    <div class="collapsible-header"><i class="material-icons">add</i>NOME DO SERVIÇO</div>
    <div class="collapsible-body"><span>Alguma descrição qualquer do serviço</span></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">add</i>NOME DO SERVIÇO</div>
    <div class="collapsible-body"><span>Alguma descrição qualquer do serviço</span></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">add</i>NOME DO SERVIÇO</div>
    <div class="collapsible-body"><span>Alguma descrição qualquer do serviço</span></div>
  </li>
</ul>

<!-- Botão Menu-->
<div class="fixed-action-btn " (click)="abreMenu()" >
  <a class="btn-floating btn-large blue waves-effect  waves-light" >
    <i class="large material-icons ">add</i>
  </a>
</div>
