<h4>Serviços</h4>
<br />
<span *ngIf="servicos.length === 0" >Não há nenhum registro no momento :)</span>

<ul class="collapsible popout"  >
  <li *ngFor="let item of servicos"  >
    <div class="collapsible-header" [ngClass]="{'red': !item.ativo}"> <i class="material-icons">add</i> <strong> {{ item.nome }} </strong> </div>
    <div class="collapsible-body" [ngClass]="{'red': !item.ativo}">
        <span><strong>Descrição:</strong> {{ item.descricao }}</span> <br />
        <span><strong>Valor:</strong> {{ item.valor }}</span> <br />
        <span><strong>Ativo:</strong> {{ item.ativo ? 'Sim':'Não' }}</span>
        <br />
        <a class="waves-effect waves-light btn-small right red" [ngClass]="{'hide': !item.ativo}" (click)="confirmarInativacao(item)"><i class="material-icons left">cancel</i>Inativar</a>
        <a class="waves-effect waves-light btn-small right blue" [ngClass]="{'hide': !item.ativo}" (click)="abrirModalEdicao(item) "  ><i class="material-icons left">edit</i>Alterar</a>
        <br />
        <br />
    </div>
  </li>
</ul>

<!-- Botão Menu-->
<div class="fixed-action-btn"  >
  <a class="btn-floating btn-large blue waves-effect  waves-light" (click)='abrirModal()' >
    <i class="large material-icons ">add</i>
  </a>
</div>


<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Novo Serviço</h4>
    <br />
    <form  #f="ngForm" (ngSubmit)="onSubmitCadastro(f)" >
      <div class="input-field col s12">
        <i class="material-icons prefix">check</i>
        <input id="nome" name="nome" type="text"  required [(ngModel)]="servico.nome">
        <label for="nome">Nome</label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">info</i>
        <input id="descricao" name="descricao" type="text"  required [(ngModel)]="servico.descricao">
        <label for="descricao">Descrição</label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">attach_money</i>
        <input id="valor" name="valor" type="number"  required [(ngModel)]="servico.valor" max="5000" min="0">
        <label for="valor">Valor</label>
      </div>


      <input id="ativo" name="ativo" type="hidden"  required [(ngModel)]="servico.ativo" value='true'>

      <button type="submit" class="btn waves btn-large right" [disabled]="!f.valid">Enviar</button>
      <br />
      <br />
      <br />
      <!-- <app-form-debug [form]="f"></app-form-debug> -->
    </form>
  </div>
</div>


<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Alteração Serviço</h4>
    <br />
    <form  #f="ngForm" (ngSubmit)="onSubmitEdicao(f)" >
      <div class="input-field col s12">
        <i class="material-icons prefix">check</i>
        <input id="nome2" name="nome" type="text"  required [(ngModel)]="servico.nome">
        <label for="nome2" class="active">Nome</label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">info</i>
        <input id="descricao2" name="descricao" type="text"  required [(ngModel)]="servico.descricao">
        <label for="descricao2" class="active">Descrição</label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">attach_money</i>
        <input id="valor2" name="valor" type="number"  required [(ngModel)]="servico.valor" max="5000" min="0">
        <label for="valor2" class="active">Valor</label>
      </div>


      <input id="ativo2" name="ativo" type="hidden"  required [(ngModel)]="servico.ativo" />
      <input id="link" name='link' type="hidden" required [(ngModel)]="servico._links?.self.href" />

      <button type="submit" class="btn waves btn-large right" [disabled]="!f.valid">Enviar</button>
      <!-- <app-form-debug [form]="f"></app-form-debug> -->
      <br />
      <br />
      <br />
    </form>
  </div>
</div>
