<div class="row "></div>
<div class="row hide-on-small-only"></div>
<div class="row hide-on-small-only"></div>
<div class="row hide-on-small-only"></div>
<div class="row hide-on-small-only"></div>
<div class="row hide-on-small-only"></div>

<div class="row ">
  <div class="col 12 offset-m3">
    <div class="row center-align"> <img src="assets/img/heart.svg" width="64" > </div>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="row center-align">
        <h5>Acesso ao sistema</h5>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="username" name="username" type="text"  required [ngModel]="usuario.username">
        <label for="username">Usuário</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">https</i>
        <input id="password" name="password" type="password"  required [ngModel]="usuario.password">
        <label for="password">Senha</label>
      </div>
      <div class="row"> </div>
      <div class="center">
        <button class="btn-large waves-effect waves-light right" type="submit" name="action">
          Acessar <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
