<h4>Profissionais</h4>
<br />
<span *ngIf="profissionais.length === 0" >Não há nenhum registro no momento :)</span>

<!-- Botão Menu-->
<div class="fixed-action-btn" (click)="botaoAdicionar()" >
  <a class="btn-floating btn-large blue waves-effect  waves-light"  >
    <i class="large material-icons ">add</i>
  </a>
</div>


<ul class="collapsible popout"  >
  <li *ngFor="let item of profissionais"  >
    <div class="collapsible-header" [ngClass]="{'red': !item.ativo}"> <i class="material-icons">add</i> <strong> {{ item.nome }} </strong> </div>
    <div class="collapsible-body" [ngClass]="{'red': !item.ativo}">
        <span><strong>Descrição:</strong> {{ item.descricao }}</span> <br />
        <span><strong>Ativo:</strong> {{ item.ativo ? 'Sim':'Não' }}</span>
        <br />
        <a class="waves-effect waves-light btn-small right red" [ngClass]="{'hide': !item.ativo}" (click)="confirmarInativacao(item)" ><i class="material-icons left">cancel</i>Inativar</a>
        <a class="waves-effect waves-light btn-small right blue" [ngClass]="{'hide': !item.ativo}" (click)="botaoEditar(item)"  ><i class="material-icons left">edit</i>Alterar</a>
        <br />
        <br />
    </div>
  </li>
</ul>


<div id="modal1" class="modal">
  <div class="modal-content">
    <div *ngIf="profissional._links?.self.href">
      <h4>Alterar Serviço</h4>
    </div>
    <div *ngIf="!profissional._links?.self.href">
      <h4>Novo Serviço</h4>
    </div>

    <br />
    <form  #f="ngForm" (ngSubmit)="salvarProfissional(f)" >
      <div class="input-field col s12">
        <i class="material-icons prefix">check</i>
        <input id="nome" name="nome" type="text"  required [(ngModel)]="profissional.nome">
        <label for="nome" [ngClass]="profissional?.nome | campoVazio" >Nome</label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">insert_comment</i>
        <textarea id="descricao" name="descricao" class="materialize-textarea" [(ngModel)]="profissional.descricao" rows="4" cols="70" ></textarea>
        <label for="descricao" [ngClass]="profissional?.nome | campoVazio">Descrição</label>
      </div>
      <input id="ativo" name="ativo" type="hidden"  required [(ngModel)]="profissional.ativo" >
      <input id="link" name="link" type="hidden"  required [(ngModel)]="profissional._links?.self.href" *ngIf="profissional._links?.self.href" >

      <button type="submit" class="btn waves btn-large right" [disabled]="!f.valid">Enviar</button>
      <br />
      <br />
      <br />
      <!-- <app-form-debug [form]="f"></app-form-debug> -->
    </form>
  </div>
</div>
